{#
  /**
   * @file
   * Default simple analog clock template to display a list of rows.
   * {{ clock }} : array which holds the clock id and the clock format information.
   */
#}

<div id= {{ variables['images'].id }} class="clock_container">
  <div class="lbl">
    {{ variables['images'].zone }}
  </div>
  <div class="clockHolder">
    {% if isset(variables['images'].hour) %}
      <div class="rotatingWrapper">
        {{ variables['images'].hour }}
      </div>
    {% endif %}
    {% if isset(variables['images'].min) %}
      <div class="rotatingWrapper">
        {{ variables['images'].min }}
      </div>
    {% endif %}
    {% if isset(variables['images'].sec) %}
      <div class="rotatingWrapper">
        {{ variables['images'].sec }}
      </div>
    {% endif %}
    {% if isset(variables['images'].clock) %}
      {{ variables['images'].clock }}
    {% endif %}
  </div>
  <div class="digital">
    <span class="hr"></span>
    <span class="minute"></span>
    <span class="period"></span>
  </div>
</div>

