{#
  /**
   * @file
   * Default simple digital clock template to display a list of rows.
   * {{ clock }} : array which holds the clock id and the clock format information.
   * @ingroup themeable
   */
#}

{{ variable['clock'] }}
<div class="container">
  <span class="clock-icon"></span>
  <div class="clock">
    <div class="advance-clock-location" id="location-"{{ clock['clock_id'] }}>
      {{ clock['location'] }}
     </div>
    {% if clock['show_date'] == TRUE %}
      <div class="advance-clock-date" id="date-"{{ clock['clock_id'] }} ></div>
    {% endif %}
    <ul class="clock-wrap">
      <li class="hours" id="hours-"{{ clock['clock_id'] }}>
      <li id="point">:</li>
      <li class="min" id="min-"{{ clock['clock_id'] }}>
        {% if clock['show_secs'] == TRUE %}
          <li id="point">:</li>
          <li class="sec" id="sec-"{{ clock['clock_id'] }}>
        {% endif %}
        {% if clock['format'] == 0 %}
          <li class="format" id="format-"{{ clock['clock_id'] }}>
        {% endif %}
    </ul>
  </div>
</div>
